#content {
margin: 0;
width: 1000px;
}


h1 {
    font-family: serif;
    font-size: 30px;

}

h2  {
    font-family: serif;
    font-size: 18px; 
}

p   {
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;



}