#content {
margin: 0 auto;
width: 1000px;
}


h1 {
    font-family: serif;
    font-size: 30px;

}

h2  {
    font-family: serif;
    font-size: 18px; 
}

p   {
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px;



}

h5   {

    font-family: Impact;
    color: green;
    margin: 0;
    font-style: normal;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
overflow: hidden;
    
}


blockquote  {


width: 940px;
font-family: Oswald;
color: green;
border: 10px solid black;
padding: 20px; 
font-size: 20px;
text-align: center;
font-style: italic;
background-color:beige;
margin: 0;
word-spacing: 5px;
letter-spacing: 2px;
white-space: nowrap;
overflow: hidden;

}

